In [39]:
from pathlib import Path
import pandas as pd
import numpy as np

import sys
if '..' not in sys.path:
    sys.path.append('..')
    
import utils

In [4]:
train_paths = list(utils.DATA_ROOT.joinpath('Train').glob('*.jpg'))
len(train_paths)

948

In [51]:
coords = utils.load_coords()

In [16]:
mismatched = pd.read_csv(str(utils.DATA_ROOT.joinpath('MismatchedTrainImages.txt')))
mismatched[-10:]

    train_id
47       840
48       869
49       882
50       901
51       903
52       905
53       909
54       913
55       927
56       946

In [83]:
mmcoords = coords.loc[mismatched.train_id].dropna()
mmcoords.groupby(mmcoords.index).count().row

tid
7       60
215      4
331     34
344     30
406    213
421      4
469     17
475    158
530     44
605     17
607     22
638      4
644     35
781     53
794    202
882     29
901    168
Name: row, dtype: int64

In [53]:
coords = utils.load_coords()
coords2 = (
    pd.read_csv('../data/coords-31472.csv')
    .rename(columns={'image_id': 'tid', 'klass': 'cls', 'x': 'col', 'y': 'row'})
    .set_index('tid')
    [['cls', 'row', 'col']]
)
coords2.row = coords2.row.astype(np.float32)
coords2.col = coords2.col.astype(np.float32)
coords2[:3]

     cls    row     col
tid
0      0  106.0  4835.0
0      0  309.0  2609.0
0      0  412.0  2891.0

In [54]:
coords.index.difference(coords2.index)

Int64Index([], dtype='int64', name='tid')

In [71]:
for tid in set(coords.index):
    counts1 = coords.loc[[tid]].groupby('cls').count().row
    counts2 = coords2.loc[[tid]].groupby('cls').count().row
    for cls in range(utils.N_CLASSES):
        try:
            c1 = counts1.loc[cls]
        except KeyError:
            c1 = 0
        try:
            c2 = counts2.loc[cls]
        except KeyError:
            c2 = 0
        if c1 != c2:
            print('tid={} cls={} {} {}'.format(tid, cls, c1, c2))

tid=6 cls=0 2 1
tid=15 cls=2 33 32
tid=491 cls=3 4 3
tid=545 cls=0 2 3
tid=816 cls=0 3 2
tid=816 cls=2 35 34
tid=816 cls=3 33 16
tid=912 cls=2 247 248