In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics

In [15]:
train = pd.read_csv('../data/Train/train.csv', index_col=0)
train[:5]

          adult_males  subadult_males  adult_females  juveniles  pups
train_id
0                  62              12            486         42   344
1                   2              20              0         12     0
2                   2               0             38         20     0
3                   8               5             41          7    38
4                   6               9              2          0     0

In [20]:
preds = pd.read_csv('../runs/unet-limit500/unet-limit500.csv', index_col=0)
print(len(preds))
preds[:5]

516

         adult_males  subadult_males  adult_females  juveniles  pups
test_id
765                1               2             13         16     0
603                2               3              3          4     0
68                 5               3              6          4     0
790                6               4             42          7    41
247                3               3             22         22     1

In [21]:
rmses = []
for cls_name in preds.columns:
    train_cls = train[cls_name].loc[preds.index]
    rmse = np.sqrt(metrics.mean_squared_error(train_cls, preds[cls_name]))
    print('{:>20} RMSE {:>6.2f}'.format(cls_name, rmse))
    rmses.append(rmse)
print('{:>20} RMSE {:>6.2f}'.format('Mean', np.mean(rmses)))

         adult_males RMSE   3.63
      subadult_males RMSE   3.76
       adult_females RMSE  22.13
           juveniles RMSE  17.04
                pups RMSE  15.59
                Mean RMSE  12.43