In [26]:
import pandas as pd

test = pd.read_csv('../mid-14.csv', index_col=0)
test[:3]

         adult_males  subadult_males  adult_females  juveniles  pups
test_id
0                  1               1             13         27     0
1                  1               2              4          3     1
2                  1               1              1          1     0

In [27]:
test_hack = test.copy()
#test_hack['juveniles'] *= 1.5
#test_hack['adult_females'] -= 0.5 * test['juveniles']
test_hack['pups'] *= 1.2

In [29]:
test_hack.round().clip(lower=0).astype(int).to_csv('../mid14-hack-pups.csv')
! head ../mid14-hack-pups.csv

test_id,adult_males,subadult_males,adult_females,juveniles,pups
0,1,1,13,27,0
1,1,2,4,3,1
2,1,1,1,1,0
3,0,1,1,1,0
4,3,1,4,1,1
5,2,2,17,15,18
6,0,0,2,2,0
7,2,1,1,1,1
8,1,1,4,9,0